
.top{
    background-color:#6d9197;
    border-radius: 8px;
}

p{
    font-weight: bold;
}

body{
    background-color: #b0bec5;
    
    
}

.button a{
    display: inline-block;
    padding: 12px 10px;
    margin: 10px;
    text-decoration: none;
    background-color: blue;
    color: wheat;
    border-radius: 8px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: medium;
    

}

.button a:hover{
    background-color:lightblue;
    color: blue;
}

.checklist{
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
}

.button2 a{
    display: inline-block;
    padding: 12px 10px;
    margin: 10px;
    text-decoration: none;
    background-color: #4f33f0;
    color: aliceblue;
    border-radius: 8px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: medium;
}
 .button2{
    margin-inline-start: 10%;
 }

.image{
    width: 300px;
    height: 200px;
    float:right;
    border-radius: 8px;
    display: flex; flex-direction:column;
}

.image2{
    float: right;
    width: 300px;
    height: 150px;
    border-radius: 8px;
}